.App {
  text-align: center;
}

img {
  background-color: white;
}

a {
  color: black;
  text-decoration: none;
  background-color: transparent;
  padding: 0px 20px;
}

h3 {
  padding: 20px;
}

h1 {
  padding: 30px;
}

p {
  padding: 30px;
}

image {
  padding: 30px;
}

img.img-fluid {
  padding: 30px;
}


/* --------------- NAVBAR ---------------- */

.nav-bar {
  color: grey;
}

.nav-item {
  padding: 10px 10px;
  color: black;
}

.nav-item:hover {
  color: black;
}

.navbar-dark .navbar-brand {
color: grey;
}

.navbar-dark .navbar-brand:hover {
  color: black;
}

.navbar-brand {
  color: black;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

/* --------------- PROJECTS ---------------- */

.text-center {
  padding: 50px;
}

.particle {
  background: black;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  /* position: absolute;
  left: 0;
  size: auto; */
  /* min-height: 100%;
  min-width: 1024px; */
}

h1.p-text {
  position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%,-50%);
	color: white;
	font-family: 'Open Sans', sans-serif;
  font-size: 65px;
}

div.project {
  border-style: solid;
  border-width: 2px;
  /* padding: 60px;
  margin: 50px; */
}



.email {

}

.linkedin {

  }


  /* --------------- PROFILE ---------------- */



.email {
  padding: 20px;
}

.linked-in {
  padding: 20px;
}
