.App {
  text-align: center;
}

img {
  background-color: white;
}

/* --------------- NAVBAR ---------------- */

.nav-bar {
  color: grey;
}

.nav-item {
  padding: 10px 10px;
  color: white;
}

.nav-item:hover {
  color: black;
}

.navbar-dark .navbar-brand {
color: grey;
}

.navbar-dark .navbar-brand:hover {
  color: black;
}

/* --------------- PROJECTS ---------------- */

.projects {
  padding-top: 20px;
}

.project-header {
  padding-left: 85px;
}


.email {

}

.linkedin {
  
  }
